<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
<!--注解扫描-->
    <context:component-scan base-package="com.jiangcx"/>

    <!--配置应用的别名，目的是在后台可以看懂这个服务的别名好区分-->
    <dubbo:application name="test8081"/>
    <!--配置dubbo的注册中心
        address:注册中心地址
        protocol:注册中心协议格式
    -->
    <dubbo:registry address="192.168.1.102:2181" protocol="zookeeper"/>
    <!--服务
        interface：表示类型（接口类型）
        ref:代表具体发布的服务（接口的实现类）
        timeout:超时时间
    -->
    <dubbo:service interface="com.jiangcx.DBService"
                   ref="dBServiceImpl" timeout="5000"/>


    <!--配置我的端口，因为消费者想要连接我们，就必须得通过我们的ip+端口进行访问，
        在连接注册中心的时候注册中心就知道了我们的ip，这里端口可以随便写，但是不
        能被其他占用，一个dubbo对外发布的时候必须独占一个端口
    -->
    <dubbo:protocol name="dubbo" port="12345"/>

</beans>