<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.7.xsd
            http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--注解扫描-->
    <context:component-scan base-package="com.jiangcx"/>

    <!--
        查找远程服务，找到对应的注册中心，告诉他我需要一个什么类型的服务
    -->

    <!--1、消费者服务名-->
    <dubbo:application name="local-consumer"/>
    <!--2、配置注册中心-->
    <dubbo:registry address="192.168.1.102:2181" protocol="zookeeper"/>
    <!--3、告诉注册中心我需要什么服务 id 不写可能会出问题-->
    <dubbo:reference interface="com.jiangcx.DBService" id="dBService"/>

</beans>